%li.three-columns
  = link_to user_based_proposal_path(proposal), class: 'btn-proposal' do
    .aro
      %span
      %span.tit-prop= truncate(proposal.title, separator: ' ')
      - if current_user.can_review?
        %span.gold
          %i.fa.fa-star
          = proposal.average_ranking
        %span.silver
          %i.fa.fa-comment
          = comments_count(proposal)
