%li.three-columns
  = link_to user_based_proposal_path(proposal), class: 'btn-proposal' do
    .aro
      %span
      %span.tit-prop= truncate(proposal.title, separator: ' ')
      %span.gold
        %i.fa.fa-star
        5
      %span.silver
        %i.fa.fa-comment
        3
