- content_for :header_title do
  My Proposals

.eight-columns
  %ul
    =render @proposals
    - if cfp_open?
      %li.three-columns
        = link_to new_proposal_path, class: 'btn-ring' do
          .aro
            %span +
            %span
              Add
              %br
              proposal


.one-column.days-left
  %p= t('devise.proposals.num')
  %span= t('devise.proposals.days')
