%li.comment
  .image
    = image_tag comment.user.gravatar_url(size: 65)
  .body
    = comment.body
  .email
    = t('comments.created_by',
    date: comment.created_at.strftime('%b/%d/%y'),
    author: comment.user.profile.name)
