= javascript_include_tag 'application'

:javascript
  $(document).ready(function() {
    $('#profile_locale').attr('tabindex', 5);
    $('#my_modal').popup();
    window.currentLocale = "#{I18n.locale}";
  });
