@mixin gradient($colorFrom, $colorTo) {
  background: -webkit-linear-gradient($colorFrom, $colorTo);
  background: -moz-linear-gradient($colorFrom, $colorTo);
  background: -o-linear-gradient($colorFrom, $colorTo);
}

@mixin arrow-top($top) {
  content: ' ';
  position: absolute;
  top:$top;
  left:20px;
  border-color: transparent transparent white transparent;
  border-style: solid;
  border-width: 16px;
  width: 0;
  height: 0;
}

@mixin border_radius($perc) {
  -webkit-border-radius: $perc;
     -moz-border-radius: $perc;
          border-radius: $perc;
}

@mixin redimention-image() {
  margin: 0 auto;
  @media #{$tablet} {
    -ms-transform: scale(0.85, 0.85); // IE 9
    -webkit-transform: scale(0.85, 0.85); // Safari
    transform: scale(0.85, 0.85);
  }
  @media #{$small-screen} {
    -ms-transform: scale(0.7, 0.7); // IE 9
    -webkit-transform: scale(0.7, 0.7); // Safari
    transform: scale(0.7, 0.7);
  }
}

@mixin sprite-icon($name, $x, $y, $height, $width, $ext: 'svg') {
  background: asset-url("#{$name}.#{$ext}") no-repeat #{$x}px #{$y}px;
  height: #{$height}px;
  width: #{$width}px;
}

@mixin span-cfp($color, $font-size, $font-family, $font-weight, $text-transform) {
  color: $color;
  font-family: $font-family, sans-serif;
  line-height: 1;
  font-size: $font-size;
  font-weight: $font-weight;
  text-transform: $text-transform;
}
