@import 'font-awesome';
@import 'cactu';

@import 'mixins';
//@import 'bootstrap_import';
@import 'config/variables';
@import 'config/responsive_large';
@import 'config/responsive_medium';
@import 'config/responsive_short';

@import 'ui/base';
@import 'ui/form_errors';
@import 'ui/inputs';
@import 'ui/buttons';
@import 'ui/popup';

@import 'pages/layout';
@import 'pages/home';
@import 'pages/comments';
@import 'pages/profiles';
@import 'pages/proposals';
@import 'pages/proposals-list';
@import 'pages/proposals_phone';
@import 'pages/info_phones';
