@media screen and (min-width: 1200px) {
  @include grid_generator($width-column, $width-gutter);

  @include grid_offset($width-column, $width-gutter);

  @include grid_centered($width-column, $width-gutter);

  .grid-com-one {
    //abox-sizing: border-box;
    float: left;
    width: 15%;
    margin: 0 1.25%
  }

  .grid-com-two {
    @extend .grid-com-one;
    width: 62.5%;
  }

  .com-one {
    @extend .grid-com-one;
    width: 17%;
  }

  .com-three {
    @extend .grid-com-one;
    width: 78%;
  }

  .prof {
    padding-top: 100px;
  }
}

@media screen and (min-width: 1555px) {

  // Pop-up -----------------
  .ui-tabs-nav {
    li {
      border-bottom: 2px solid $line;

      a {
        line-height: 2.2 !important;
      }
    }
  }
}
