@media screen and (min-width: 768px) and (max-width: 1199px) {
  @include grid_generator($width-column - 10, $width-gutter - 10);

  @include grid_offset($width-column - 10, $width-gutter - 10);

  @include grid_centered($width-column - 10, $width-gutter - 10);

  .profile-in .email {
    width: 90%;
    overflow: hidden;
    margin: auto;
  }

  .tit h3 {
    text-align: center;
  }

  .eight-columns {
    width: 62%;

    ul li {
      width: 31.2%;

      a.btn-ring {
        width: 142px;
        height: 142px;

        .aro {
          width: 127px;
          height: 127px;
        }
      }
    }
  }

  .btn-rank {
    position: relative;
    left: -35%;
    top: 5px;
  }

  .com-one h3, .com-three {
    padding-left: 10px;
  }

  .titles {
    .left-section, .right-section {
      width: 100% !important;
    }
  }

  .twelve-columns {
    .image {
      width: 14% !important;
    }

    .info, .body, .email {
      width: 80% !important;
    }
  }

  .direction {
    top: -10px !important;

    .a-left, .s-left {
      margin-left: -53px;
    }
  }

  #cont_lists header {
    a { margin-left: 40px; }
  }

  #home-top {
    .important {
      margin-left: -150px;
    }

    .counting {
      margin-left: 40%;
    }
  }

  #list_phone { display: none; }
  a.info_phone { display: none; }

  .pagination_sp nav {
    span, a {
      margin: 20px 23px;
    }
  }
}

@media screen and (max-height: 801px) {
  #lists footer .centered-eight span {
    color: transparent !important;
  }

  #lists footer .centered-six img {
    opacity: 0;
  }

  .mask {
    width: 30%;
  }

  #home-top {
    height: 580px;

    .important, .counting {
      top: 610px;
    }
  }

  .circle {
    top: 510px;
  }
}

@media screen and (max-width: 1554px) {

  // Pop-up -----------------
  .ui-tabs-nav {
    li {
      a {
        line-height: 2;
      }
    }
  }
}
