@media screen and (max-width: 767px) {
  @include grid_generator;

  body {
    padding: 0;
  }

  .prof {
    padding-top: 10px;
  }

  .lath-image {
    background: asset-url('liston_bg_2.png') no-repeat center !important;
  }

  .prof {
    display: none;
  }

  .bottom {
    display: block !important;
    padding-top: 50px;
  }

  .titles {
    .left-section, .right-section {
      width: 100% !important;
    }
  }

  .sub-titles {
    text-align: center !important;

    span:first-child { margin-left: 0; }
  }

  .twelve-columns header h3,
  .twelve-columns .content h3,
  .twelve-columns footer h3 {
    padding-left: 8px;
  }

  .tit h3 {
    text-align: center;
  }

  .btn-rank {
    position: relative;
    margin-top: 78px !important;
  }

  .less, .more {
    display: none;
  }

  .rank {
    display: block !important;
    width: 100% !important;
  }

  .twelve-columns {
    .image {
      width: 22% !important;
    }

    .info, .body, .email {
      width: 74% !important;
    }
  }

  .com-one {
    text-align: center;
  }

  .com-three textarea {
    margin-left: 10%;
  }

  #my_modal {
    width: 65% !important;

    h2 { font-size: 2em; }
  }

  .direction {
    top: -10px !important;

    .a-left, .s-left {
      margin-left: -53px;
    }
  }

  #list_phone {
    display: block;

    .numbers {
      text-align: center;
      margin-top: 100px;

      span {
        width: 30px;
        height: 30px;
        display: inline-block;
        background: $white;
        border: 1px solid #000;
        padding: 10px;
        font: 100 2em/1 'Oswald';
        box-shadow: 0 0 0 3px $white;
        @include border_radius(50%);
      }

      p, a {
        font: 300 1.3em/1 'Roboto', sans-serif;
      }

      p { padding-top: 10px; }

      a {
        display: block;
        padding-top: 5px;
        color: $anchor-hover;
      }
    }
  }
}
