.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-center-sm {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.dis-ib {
  display: inline-block;
}

.pt30 {
  padding-top: 30px;
}

.mb30 {
  margin-bottom: 30px !important;
}
