// VARIABLES
$max-columns: 12;
$width-column: 70px;
$width-gutter: 30px;

// COLORS
$white: #fff;
$anchor: #554a45;
$anchor-hover: #419e9d;
$btn-ios-bkg: #9ed2ea;
$btn-ios-hover: #7cc3e3;
$top: #312926;
$line: #c5c1bd;
$profile-bkg: #f8f5ef;
$days: #676659;
$gold: #ffbf00;
$silver: #c5c1bc;
$checked: #07b4b4;
$lines: #c7c3bf;
$gray: #8b8a89;
$borders: #a2a2a2;

$comments-h3: 100 1.2em/1.1em 'Oswald';
