.comment_list{
  font-size: 12px;
  padding: 5px;
  background: #CFD2D6;
  .comment {
    margin-bottom: 5px;
    .body {
      padding: 5px;
      background: white;
    }
  }

}
.new-comment {
  .form-actions {
    padding: 0;
    margin: 0;
    .btn {
      @include gradient(#f48d5d, #d97246);
      border: 0px;
      color: white;
      font-family: 'Open Sans', sans-serif;
      padding: 8px 15px;
      float: right;
      &:hover {
        text-decoration: none;
      }
    }
  }

}

.checkbox.inline {
  input {
    margin-top: -3px;
  }
}

.com-h3 {
  font: $comments-h3;
}

#rnk {
  margin-top: -18px;
}

#ranking {
  .tit {
    margin-top: 37px;
  }

  .less {
    float: left;
    width: 19%;
    margin-top: 37px;
  }

  .rank {
    @extend .less;
    width: 50%;
    text-align: center;
  }

  .more {
    @extend .less;
    width: 30%;
  }
}

#comments {
  padding-bottom: 54px;

  h3 {
    padding-bottom: 10px;

    i { border: 0; }
  }

  ul {
    padding: 10px 0;

    li {
      display: block;
      overflow: hidden;
      width: 100%;
      border-top: 1px solid $line;
      padding: 10px 0;

      .image {
        float: left;
        width: 11%;

        img {
          border: 2px solid $line;
          -webkit-border-radius: 50%;
             -moz-border-radius: 50%;
                  border-radius: 50%;
        }
      }

      .body {
        @extend .image;
        width: 89%;
      }

      .email {
        @extend .body;
        font: 100 1em/1.1em 'Roboto';
      }
    }
  }
}

.leave-comment {
  padding-bottom: 0 !important;

  h3 {
    margin-top: 45px;
  }

  textarea {
    width: 77%;
    float: left;
  }

  input[type="submit"] {
    float: left;
  }
}

//Previous or next proposal
.direction {
  position: relative;
  top: -46px;

  .a-right {
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    background: $white;
    line-height: 2.4;
    box-shadow:0 0 0 5px $white;
    border: 1px solid $anchor-hover;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;

    i {
      display: inline-block;
      width: 24px;
      height: 23px;
      vertical-align: middle;
      background: asset-url('right-big.svg');
    }

    &:hover {
      background: $anchor-hover;

      i {
        background: asset-url('right-on-big.svg');
      }
    }
  }

  .a-left {
    @extend .a-right;
    position: relative;
    margin-right: 30px;

    i {
      background: asset-url('left-big.svg');
    }

    &:hover i {
      background: asset-url('left-on.svg');
    }
  }

  .s-left {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: $white;
    line-height: 2.4;
    box-shadow:0 0 0 5px $white;
    border: 1px solid $borders;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    margin-right: 30px;
    line-height: 3.1;

    i {
      display: inline-block;
      width: 24px;
      height: 23px;
      vertical-align: middle;
      background: asset-url('left-big-sp.svg');
    }
  }

  .s-right {
    @extend .s-left;
    margin-right: 0;
    position: absolute;

    i {
      background: asset-url('right-big-sp.svg');
    }
  }
}
