.login-up {
  background: transparent;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  @include border_radius(50%);

  .github-login {
    background: asset-url('octocat_login.png') no-repeat center 25px;
    background-color: white;
    background-size: 95px;
    box-shadow: 3px 3px 3px rgba($coffee, 0.5);
    border-radius: 50%;
    display: inline-block;
    height: 100%;
    text-transform: uppercase;
    width: 100%;

    span {
      color: $coffee;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      position: relative;
      top: 110px;
    }
  }

  &:hover .github-login span {
    color: $carnation;
  }
}

.easy {
  span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px 20px;
    background: #eee;
    border-radius: 50%;
    color: #c4c4c4;
  }

  .active {
    background: #ccc;
    color: $white;
    padding: 10px
  }
}

.please-login {
  color: $coffee;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin: 20px 0 0 0;
  text-transform: uppercase;

  strong {
    text-decoration: underline;
  }
}

.octo-login {
  background-color: white;
  position: relative;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .35);
}

.octo-login:before {
  content: ' ';
  position: absolute;
  top:-11%;
  left:20px;
  border-color: transparent transparent white transparent;
  border-style: solid;
  border-width: 16px;
  width: 0;
  height: 0;
}

.octocat_image {
  display: block;
  margin: 0 auto;
}

.legend {
  font-family: 'Open Sans', sans-serif;
}

.octo-login p {
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  margin-top: -100px;
  padding-bottom: 65px;
}

.octo-login p a {
  text-decoration: none;
  color: #20353b;
  &:hover {
    text-decoration: none;
  }
}

.ready {
  text-transform: uppercase;
}
