// Layout
html {
  overflow-x: hidden;
}

#swipe {
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 50%;
}

a {
  font-family: 'Open Sans', sans-serif;
}

#home-top {
  background: $stratos;
  height: auto;

  .circle {
    left: 50%;
    margin-left: -75px;
    position: absolute;
    top: 615px;
    z-index: 2;

    a:hover {
      text-decoration: none;
    }

    & > a {
      text-decoration: underline;
    }
  }

  .centered-six {
    margin-top: 35px;
  }

  .mask {
    border-radius: 100%;
    display: block;
    height: 240px;
    margin: 35px auto 70px auto;
    width: 240px;
  }

  .ready {
    img {
      width: 100%;
      margin: 0 auto;
    }
    min-height: 150px;
  }

  .you {
    color: $carnation;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    margin-top: -60px;
  }

  .welcome {
    color: #a02d2e;
    display: inline-block;
    font: 100 1em/1.1 'Oswald';
    margin: 10px auto 0;
    text-transform: uppercase;
    width: 200px;
  }

  .blog {
    /*width: 68%;*/
    /*margin: -10px auto 0;*/
  }

  .cfp {
    color: $coffee;
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    text-transform: uppercase;

    img {
      display: inline;
      height: 14px;
      padding: 3px 0;
      vertical-align: top;
    }
  }

  .cfp-alternate-img {
    @include sprite-icon('assets_02', -75, -440, 46, 274);
    margin: 10px auto;
  }

  .counting {
    @extend .important;
    width: 260px;

    p {
      text-align: left;
      width: 200px;
    }

    .cir {
      border: 1px solid #000;
      margin: -7px 13px 0 0;
    }
  }

  .our-2nd {
    @include span-cfp($bittersweet, 81.4px, 'Oswald', bold, uppercase, 78px);
  }

  .is-now-open {
    border-bottom: 2px solid $bittersweet; 
    border-top: 2px solid $bittersweet; 
    margin: 0 auto;
    padding: 10px 0;
    width: 280px;
  }

  .span-color-1 {
    @include span-cfp($wild-sand-2, 57px, 'Oswald', bold, uppercase, 54px);
  }

  .span-color-2 {
    @include span-cfp($bittersweet, 57px, 'Oswald', bold, uppercase, 54px);
  }

  .submit-your {
    padding: 10px;
  }
  
  .span-text-1 {
    @include span-cfp($bittersweet, 51px, 'Oswald', bold, uppercase, 47px);
  }

  .span-text-2 {
    @include span-cfp($wild-sand-2, 51px, 'Oswald', bold, uppercase, 47px);
  }

  .proposal-text {
    @include span-cfp($koromiko, 69px, 'Oswald', bold, uppercase, 64px);
  }

  .before-than {
    padding: 10px;
  }

  .span-color-3 {
    @include span-cfp($wild-sand-2, 39px, 'Oswald', 300, uppercase, 36px);
  }

  .span-color-4 {
    @include span-cfp($bittersweet, 37px, 'Oswald', bold, uppercase, 34px);
  }

  .please-login {
    @include span-cfp($wild-sand-2, 46px, 'Open sans', bold, uppercase, 41px);
    letter-spacing: 2px;
    margin-top: 0;
    padding: 10px;
  }

  .login-buttons {
    margin: 20px auto 30px; 
  }

  .btn-github {
    background-color: $lochmara;
    border-radius: 4.5px;
    color: $wild-sand-2;
    padding: 10px 40px;

    &:hover {
      background-color: $bahama;
    }

    @media screen and (max-width: 350px) {
      padding: 10px 36px;
    }
  }

  .btn-gmail {
    background-color: $pacific-blue;
    border-radius: 4.5px;
    color: $wild-sand-2;
    margin-left: 10px;
    padding: 10px 40px;

    &:hover {
      background-color: $bondi-blue;
    }

    @media screen and (max-width: 350px) {
      padding: 10px 36px;
    }
  }

  .checkout {
    @include span-cfp($koromiko, 17px, 'Open sans', 300, none);
  }

  .what-were-looking {
    @include span-cfp($wild-sand-2, 17px, 'Open sans', 300, none);
  }
}

.top {
  background: $top;
  border-bottom: 10px solid $white;
  height: 50px;
  width: 100%;
}

.main-menu {
  text-decoration: none;
  text-align: right;

  li {
    display: inline;
  }

  li + li:before {
    content: " | ";
    color: $anchor;
  }

  a {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  }
}

.magma_conferences_logo {
  margin-left: 10px;
}

#lists {
  background-color: $stratos;
  padding-top: 70px;
  padding-bottom: 25px;

  footer {
    .logo {
      margin: 20px 20px 0;
    }
    .copyright {
      color: $coffee;
      display: inline;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      margin-top: 25px;
    }
  }
}

#home-down {
  background: #ffffff;
  padding: 35px 0 40px 0;

  .three-columns.override {
    @media screen and (min-width: 1200px) {
      width: 305px;
    }
  }

  .ready-hr {
    border-top-width: 1px;
    border: 1px solid $carnation;
    margin: 10px auto 15px;
    width: 970px;
  }

  p {
    display: inline-block;
    color: $gray-lt;
    padding-bottom: 15px;
    font-size: 13px;

    strong {
      color: $stratos;
      font-weight: bold;
    }

    a {
      font-size: 13px;
    }
  }

  ul {
    color: $coffee;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    list-style: none;

    li {
      padding-left: 1em;
      padding-bottom: 12px;
      text-indent: -.7em;

      &:before {
        content: "• ";
        color: #e65253;
        font-size: 18px;
      }
    }
  }

  .sponsors {
    a {
      color: #ff6666;
    }
  }

  .title {
    color: $carnation;
    font-family: 'Oswald', sans-serif;
    font-size: 19px;
    text-transform: uppercase;
  }

  .title + p {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .header {
    color: $stratos;
    font-family: 'Oswald', sans-serif;
    font-size: 42px;
    line-height: 1;
    text-transform: uppercase;
  }

  .back-to-sign-in {
    height: 20px;
    margin-bottom: 10px;
    margin-top: 40px;

    a {
      color: $carnation;
      float: right;
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;

      span {
        background: asset_url('arrows.svg') no-repeat -37px 0px;
        background-size: 50px;
        display: inline-block;
        height: 14px;
        margin-right: 10px;
        width: 13px;
      }

      &:hover {
        color: #ff6666;

        span {
          background: asset_url('arrows.svg') no-repeat -37px -28px;
          background-size: 50px;
        }
      }
    }
  }

  #sponsor-form {
    input {
      background-color: $wild-sand;
      border: 1px solid $tan;
      color: #792222;
      font-size: 15px;
      height: 30px;
      width: 92%;
    }

    input[type=submit] {
      background-color: $carnation;
      border: 1px solid $carnation;
      color: white;
      font-family: 'Oswald', sans-serif;
      font-size: 18px;
      font-weight: 400;
      height: 40px;
      margin-top: 25px;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }

    label {
      color: $coffee;
      display: inline-block;
      font-family: 'Oswald', sans-serif;
      font-size: 15px;
      font-weight: 200;

      &:after {
        color: #ff0000;
        content: ' *';
      }
    }
  }

  #sponsor-contact-greeting {
    .circle {
      background-image: asset_url('reylero_crossed.png');
      border-radius: 50%;
      height: 250px;
      margin: 65px auto 20px;
      width: 250px;
    }

    .text {
      text-align: center;
      text-transform: uppercase;

      .title {
        color: $carnation;
        font-family: 'Oswald', sans-serif;
        font-size: 35px;
        line-height: 35px;
      }

      .body {
        color: $coffee;
        font-family: 'Open Sans', sans-serif;
        span {
          font-weight: 600;
        }
      }
    }
  }

  .left-arrow {
    margin-left: 110px;
    top: 33px;
  }

  .invalid .error {
    display: inline;
  }
}

.lath-image {
  height: 60px;
  position: relative;
  top: -43px;
  width: 100%;
}

.lath-image:after, .lath-image:before {
  border-top: 30px solid transparent;
  bottom: 17px;
  content: '';
  height: 0;
  position: absolute;
  width: 0;
}
.lath-image:after {
  border-right: 135px solid $wild-sand;
  left: 0;
}
.lath-image:before {
  border-left: 135px solid $wild-sand;
  right: 0;
}

footer {
  padding-top: 20px;

  p {
    color: $gray-lt;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-align: center;
  }

  span {
    margin-left: 10px;
    position: relative;
    top: -6px;
  }

  &.prof {
    img { margin: 0 auto 25px }
    img, span { display: block }
  }

  &.bottom {
    display: none;
  }
}

.important {

  p {
    font: 300 1.2em/1.3em 'Roboto';

    a {
      color: $anchor-hover;
      font: 300 1em/1em 'Roboto';
      text-decoration: underline;

      &:hover {
        color: $anchor;
        text-decoration: none;
      }
    }
  }
}

.closing-date {
  color: $carnation;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.important-terms {
  color: $coffee;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400px;
  margin-top: 20px;
}

.check-out {
  color: $coffee;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-top: 10px;
  text-decoration: underline;

  span.arrow {
    background: asset_url('arrows-down.svg') no-repeat;
    display: block;
    height: 26px;
    margin: 17px auto 17px auto;
    width: 21px;
  }

  &:hover {
    text-decoration: none;
  }
}

.must-know {
  color: #a02d2e;
  display: block;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 38px;
  text-decoration: underline;
}

#cir {
  @include border_radius(50%);
  background: $white;
  border: 1px solid #ff6666;
  box-shadow: 0 0 0 2px $white;
  height: 35px;
  margin: 26px auto 10px auto;
  width: 35px;
  overflow: hidden;

  img#info {
    height: 15px;
    margin-top: 10px;
  }

  .minimask { margin-top: 6px; }

  span {
    display: block;
    font: 300 1.5em/1 'Oswald';
    margin-top: 7px;
  }
}

.last-hr {
  border: 1px solid $tan;
  border-top-width: 0;
  margin: 15px auto 30px;
  width: 970px;
}

.proposal {
  &:after, &:before {
    background: asset_url("star.svg");
    content: ' ';
    display: inline-block;
    margin: 10px 5px;
    padding: 12px;
  }
}

.magma_logo {
  margin: 0 auto;
  position: relative;
}

body > footer {
  background: $stratos;
  padding: 0 0 15px 0;

  hr.last-hr {
    margin-bottom: 20px;
  }

  .cfp-footer-logo {
    @include sprite-icon('assets_02', -75, -510, 24, 141);
    padding: 0 30px 5px 0;
  }

  .magma-footer-logo {
    width: 95px;
  }

  span {
    color: #d7d7d7;
    font-size: 14px;
    margin: 0 15px 0 10px;
  }
}

.cfp-separator-koromiko {
  background-color: $koromiko;
  height: 2px;
  margin: 0 auto;
  width: 290px;
}

.sponsored-by {
  color: $wild-sand-2;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.magmalabs-logo-footer {
  position: relative;
}

.landing-main-section {
  @include sprite-icon('assets_02', -77, -813, 317, 1027);
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.reylero-ok {
  position: relative;
}

.social-icons-container {
  display: inline-block;
  margin: 0 20px;
}

.social-shares {
  display: inline-block;
  float: left;
  height: 60px;
  width: 65px;
}

.facebook {
  @include sprite-icon('assets_02', -435, -441, 43, 43);
  @extend .social-shares;
  margin-right: 10px;
  &:hover {
    @include sprite-icon('assets_02', -588, -441, 43, 43);
  }
}

.twitter {
  @include sprite-icon('assets_02', -505, -441, 43, 43);
  @extend .social-shares;
  &:hover {
    @include sprite-icon('assets_02', -658, -441, 43, 43);
  }
}

.info {
  color: $wild-sand;
  padding-top: 5px;

  a {
    color: $bittersweet;
  }
}
