// Layout
#swipe {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  overflow: hidden;
}

a {
  font-family: 'Open Sans', sans-serif;
}

#home-top {
  background: #ee5c5d;
  height: 650px;

  .circle {
    position: absolute;
    top: 567px;
    left: 50%;
    margin-left: -83px;
    z-index: 2;

    a:hover {
      text-decoration: none;
    }

    & > a {
      text-decoration: underline;
    }
  }

  img {
    display: block;
    margin: 10px auto 0 auto;
  }

  .mask {
    margin-bottom: 10px;
    width: 30%;
  }

  .ready {
    color: #fff3cc;
    font-family: 'Teko', sans-serif;
    font-size: 50px;
    font-weight: 500;
    margin: 20px 0 0 0;
  }

  .you {
    @extend .ready;
    font-size: 24px;
    margin: 5px 0 0 0;
  }

  .welcome {
    display: inline-block;
    color: #a02d2e;
    width: 200px;
    margin: 12px auto 0;
    font: 100 1em/1.1 'Oswald';
    text-transform: uppercase;
  }

  .magma_logo {
    margin: 20px auto 0;
  }

  .blog {
    /*width: 68%;*/
    /*margin: -10px auto 0;*/
  }

  .cfp {
    color: #a02d2e;
    font-family: 'Teko', sans-serif;
    font-size: 18px;
    text-transform: uppercase;

    img {
      display: inline;
      height: 20px;
      margin: 0 0 0 5px;
    }
  }

  .counting {
    @extend .important;
    width: 260px;

    p {
      width: 200px;
      text-align: left;
    }

    .cir {
      margin: -7px 13px 0 0;
      border: 1px solid #000;
    }
  }
}

.top {
  width: 100%;
  height: 50px;
  background: $top;
  border-bottom: 10px solid $white;
}

.main-menu {
  text-decoration: none;
  text-align: right;

  li {
    display: inline;
  }

  li + li:before {
    content: " | ";
    color: $anchor;
  }

  a {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  }
}

.magma_conferences_logo {
  margin-left: 10px;
}

#lists {
  margin-top: 65px;
  padding-bottom: 90px;

  p {
    display: inline-block;
    padding: 8px 0 10px 0;
  }

  footer {
    .copyright {
      color: $footer-color;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
      padding: 10px 0 30px 10px;
      float: right;
    }
  }
}

#home-down {
  background: #ffffff;
  padding: 60px 0 0 0;

  hr {
    border-width: 1px;
    border-style: solid;
    margin: 10px auto 20px auto;
  }

  .ready-hr {
    width: 100%;
  }

  p {
    display: inline-block;
    padding: 8px 0 10px 0;
    font-size: 14px;
    font-weight: 400;

    a {
      font-size: 14px;
      font-weight: 400;
    }
  }

  ul {
    list-style: none;

    li {
      padding-left: 1em;
      padding-bottom: 20px;
      text-indent: -.7em;

      &:before {
        content: "• ";
        color: #e65253;
        font-size: 18px;
      }
    }
  }

  .sponsors {
    a {
      color: #ff6666;
    }
  }

  .title {
    color: #ee5c5d;
    font-family: 'Teko', sans-serif;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .header {
    font-family: 'Teko', sans-serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
  }

  .back-to-sig-in {
    margin-top: 15px;

    a {
      color: #a02d2e;
      float: right;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      font-weight: 400;

      span {
        background: asset_url('arrows.svg') no-repeat -37px 0px;
        width: 13px;
        height: 14px;
        display: inline-block;
        background-size: 50px;
        margin: 10px 0 0 0;
      }

      &:hover {
        color: #ff6666;

        span {
          background: asset_url('arrows.svg') no-repeat -37px -28px;
          background-size: 50px;
        }
      }
    }
  }

  input {
    color: #792222;
    height: 38px;
    padding: 0 5px;
    font-family: 'Teko', sans-serif;
    font-size: 21px;
  }

  input {
    background-color: #ebebeb !important;
    border: 1px solid #ee5c5d;
    width: 185px;
  }

  input[type=submit] {
    background-color: #ffc200 !important;
    border: 1px solid #ffc200;
    text-transform: uppercase;
    text-align: center;
    width: 195px;
  }

  label {
    font-size: 18px;
    display: inline-block;
    width: 100px;

    &:after {
      color: #ff0000;
      content: ' *';
    }
  }

  .left-arrow {
    margin-left: 110px;
    top: 33px;
  }

  .invalid .error {
    display: inline;
  }
}

.lath-image {
  width: 100%;
  height: 60px;
  position: relative;
  top: -37px;
}

.lath-image:after, .lath-image:before {
  border-top: 30px solid transparent;
  bottom: 17px;
  content: '';
  height: 0;
  position: absolute;
  width: 0;
}
.lath-image:after {
    border-right: 135px solid #ebebeb;
    left: 0;
}
.lath-image:before {
    border-left: 135px solid #ebebeb;
    right: 0;
}

footer {
  padding-top: 20px;

  p {
    color: $anchor + 60;
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
    text-align: center;
  }

  span {
    position: relative;
    top: -6px;
    margin-left: 10px;
  }

  &.prof {
    img { margin: 0 auto 25px }
    img, span { display: block }
  }

  &.bottom {
    display: none;
  }
}

.crowd-logo {
  height: 30px;
  float: right;
}

.crowd-footer-logo {
  height: 30px;
}

.important {

  p {
    font: 300 1.2em/1.3em 'Roboto';

    a {
      color: $anchor-hover;
      text-decoration: underline;
      font: 300 1em/1em 'Roboto';

      &:hover {
        color: $anchor;
        text-decoration: none;
      }
    }
  }
}

.closing-date {
  color: #ee5c5d;
  font-size: 16px;
  margin: 6px 0;
}

.important-terms {
  color: #792323;
  font-size: 14px;
  display: block !important;
}

.check-out {
  color: #a02d2e;
  font-size: 14px;
  text-decoration: underline;

  span {
    background: asset_url('arrows.svg') no-repeat 0px 0px;
    width: 13px;
    height: 14px;
    display: block;
    background-size: 50px;
    margin: 10px auto;
  }

  &:hover {
    text-decoration: none;

    span {
      background: asset_url('arrows.svg') no-repeat 0px -28px;
      background-size: 50px;
    }
  }
}

.must-know {
  color: #a02d2e;
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
  margin-bottom: 38px;
  display: block;
}

#cir {
  width: 35px;
  height: 35px;
  background: $white;
  border: 1px solid #ff6666;
  box-shadow: 0 0 0 2px $white;
  margin: 26px auto 10px auto;
  @include border_radius(50%);
  overflow: hidden;

  img#info {
    height: 15px;
    margin-top: 10px;
  }

  .minimask { margin-top: 6px; }

  span {
    display: block;
    font: 300 1.5em/1 'Oswald';
    margin-top: 7px;
  }
}

.ready-hr {
  border: 2px solid #a02d2e;
  margin: 10px auto;
  width: 45%;
}

.proposal {
  &:after, &:before {
    background: asset_url("star.svg");
    content: ' ';
    display: inline-block;
    margin: 10px 5px;
    padding: 12px;
  }
}

.magma_logo {
  display: block;
  height: 36px;
  margin: 0 auto;
  padding: 5px 0 10px 0;
}

body > footer {
  background: #ffffff;
  padding: 0 0 15px 0;

  hr {
    border: 1px solid #312926;
    margin: 0 0 25px 0;
    opacity: .1;
  }

  .cfp-footer-logo {
    width: 112px;
  }

  .magma-footer-logo {
    width: 74px;
  }

  span {
    color: #d7d7d7;
    font-size: 14px;
    margin: 0 15px 0 10px;
  }
}
