.profile {
  text-align: center;

  .profile-in {
    background: $stratos;
    line-height: 2em;
    margin: auto;
    width: 95%;
    font-family: 'Open Sans', sans-serif;

    header {
      a {
        display: inline-block;
        margin-bottom: 15px;
        margin-top: 30px;

        .magma_logo {
          height: 50px;
        }
      }
    }

    h4 {
      font-family: 'Oswald', sans-serif;
      font-weight: 400;
      color: $bittersweet;
      font-size: 30px;
    }

    a {
      font-family: 'Open Sans', sans-serif;
    }

    .magma-logo {
      margin-top: 35px;
      padding-bottom: 5px;
    }

    .line {
      background: $koromiko;
      height: 3px;
      margin: 5px auto 20px auto;
      width: 65%;
    }

    .pic {
      border: 1px solid $bittersweet;
      border-radius: 50%;
      height: 150px;
      margin: 20px auto;
      overflow: hidden;
      width: 150px;

      img {
        border-radius: 50%;
        height: 130px;
        margin-top: 10px;
        width: 130px
      }
    }

    .name {
      color: $wild-sand-2;
      display: inline;
      font-family: 'Open Sans', sans-serif;
      font-size: 21px;
      font-weight: bold;
      text-transform: capitalize;
    }

    .company {
      color: $coffee;
      font-size: 16px;
      font-weight: bold;
    }

    .email {
      color: $wild-sand-2;
      font-style: italic;
      font-size: 14px;
    }

    .complete a {
      color: $carnation;
      font-size: 14px;
      font-style: italic;
      font-weight: 600;
    }

    .cfp-logo {
      margin-top: 30px;
      padding-bottom: 50px;
    }
  }

  .lath {
    width: 100%;
    position: relative;
    top: -22px;
  }
}

.titles {
  border-bottom: 1px solid $stratos;
  display: inline-block;
  margin-bottom: 4px;
  padding: 40px 0 10px 0;
  width: 100%;

  .left-section {
    float: left;
    width: 70%;

    h3 {
      color: $stratos;
      font-family: 'Oswald', sans-serif;
      font-size: 40px;
      font-weight: 400;
      display: inline;
      margin-right: 10px;
    }
  }

  .right-section {
    float: left;
    margin-top: 18px;
    width: 30%;

    .main-menu li a {
      color: $carnation;
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
      font-weight: 600;
    }
  }
}

.sub-titles {
  text-align: right;
  padding-bottom: 15px;
}

.left {
  overflow: hidden;
  width: 47%;
  float: left;
  margin-right: 3%;

  input {
    width: 96%;
  }
}

.right {
  margin-right: 0;
  margin-left: 3%;
  @extend .left;

  input {
    width: 90%;
  }
}

.section {
  padding: 10px 0;
  border-bottom: 2px solid #c5c1bd;
  text-shadow: 2px 2px 1px $white;
}

form {
  margin: 0px;

  .actions {
    margin-top: 20px;
  }
}
.white_background {
  padding: 20px;
  background-color: white;
  position: relative;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .35);
}

.new_profile:before {
  @include arrow-top(-5%);
}

.show_profile:before {
  @include arrow-top(-15%);
}

a.btn-cfp:hover {
  text-decoration: none;
  color: white;
}

.btn-cfp {
  @include gradient(#849dbd, #586c85);
  border: 0px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding: 8px 25px;
  float: right;
}

.profile_info th {
  text-align: right;
  padding-right: 15px;
}

.profile_name {
  margin-top: -10px;
  font-weight: lighter !important;
}

.cancel {
  position: relative;
  top: 77px;
  left: 150px;
}

.cfp-logo-perfil {
  @include sprite-icon("assets_02", -75, -510, 24, 141);
  margin: 0 auto;
}
