// Proposals lis

#popup_back {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  position: fixed;
  display: block;
  z-index: 3;
  top: 0;
  display: none;
}

#cont_lists {
  width: 100%;
  background: none repeat scroll 0 0 transparent;
  position: absolute;
  z-index: 4;

  .listss {
    background: $white;
    height: 10px;
  }

  .content {
    /*background: asset-url('bkg.png');*/
    background: #fff;

    .line {
      height: 1px;
      background: $line;
    }

    header {
      padding: 40px 0 0;

      h2 {
        padding-bottom: 10px;
        float: left;
      }

      a {
        float: left;
        margin-top: 10px;
        left: 7px;
        color: #4ca9a8;

        &:hover {
          text-decoration: none;
        }

        span {
          position: relative;
          top: -9px;
          font-family: sans-serif;
        }
      }

      .lines {
        height: 3px;
        background: $line;
      }
    }

    aside {
      padding: 30px 0 0;

      h5 {
        padding-bottom: 10px;
      }
    }

    main {
      .num {
        width: 20px;
        height: 20px;
        display: block;
        text-align: center;
        margin: 10px 0;
        padding: 5px;
        border: 1px solid $line;
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%;
      }

      .title, .tag {
        display: block;
        margin: 15px 0 5px;
      }
    }

    nav {
      span, a.previous_page, a.next_page {
        display: inline-block;
      }

      em {
        font-style: normal;
        color: $gray;
      }

      span, a {
        width: 25px;
        height: 25px;
        padding: 10px;
        border: 1px solid $anchor-hover;
        margin: 20px;
        vertical-align: middle;
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%;

        .prev {
          display: block;
          width: 24px;
          height: 23px;
          background: image_url('left-big.svg');
        }

        .next {
          @extend .prev;
          background: image_url('right-big.svg');
        }
      }
      a {
        background: $white;
        border: 1px solid $anchor-hover;
        box-shadow: 0 0 0 5px $white;

        &:hover {
          background: $anchor-hover;
          color: $white;

          .prev {
            display: block;
            width: 24px;
            height: 23px;
            background: asset-url('left-on.svg');
          }

          .next {
            @extend .prev;
            background: asset-url('right-on-big.svg');
          }
        }
      }
    }

    footer {
      color: $gray;

      .centered-eight {margin-top: 20px; }
    }
  }
}
