.btn-proposals {
  @include gradient(#f48d5d, #d97246);
  border: 0px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding: 8px 15px;
  float: right;
  &:hover {
    text-decoration: none;
  }
}

.proposal-abstract{

}

.ready-to-speak{
  font-size: 45px;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 110px 0 45px;
}

.speak-wrapper {
  text-align: center;
}

.your-proposal{
  color: #20353B;
  font-size: 26px;
  font-weight: lighter;
}


.btn-big-proposals{
  @extend .btn-proposals;
  font-size: 26px;
  padding: 9px 29px;
  float: none;
}

.form-actions {
  background: none;
}

.header-proposals {
  .btn-proposals {
    margin-top: 16px;
  }
}

.discuss {
  .abstract {
    border-top: 1px solid #A5A8B0;
    padding: 10px 0;
  }
}

.total {
  margin-top: 0;
  margin-bottom: 0;
}

.new-proposal, .gray-background {
  background: $profile-bkg;
  padding: 10px 0 100px;
  margin-bottom: 20px;

  #proposal_title { width: 90% }

  textarea { resize: none }
}

.gray-background {
  overflow: hidden;
}

.sub-titles {
  color: $line - 50;

  span {
    margin-left: 30px;
  }
}

.lists {
  ul li {
    margin-bottom: 20px;

    .raked {
      position: absolute;
      background: $checked;
      border: 0;
      color: $white;
      margin: 10px 0px 0px 114px;
    }
  }
}

.days-left {
  font-family: 'Teko', sans-serif;
  float: right;

  .count {
    font-size: 40px;
    font-weight: 400;
    color: #ff6666;
    margin: 7px 0 0 0;
  }

  span {
    font-size: 18px;
    font-weight: 300;
  }
}

.menu {
  text-align: right;

  a {
    padding: 0 10px;
    color: $anchor-hover;

    &:hover {
      color: $anchor;
    }
  }
}

.proposal-show {
  padding-bottom: 10px;

  h3 {
    font: $comments-h3;
  }

  p {
    padding: 10px 0 30px 0px;
    font-weight: 400;
    font-size: 14px;
  }

  .title {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 0;
  }

  .tags {
    font-size: 14px;
    font-weight: 300;
    color: $anchor + 50;
  }

  footer {
    padding-top: 0;

    .image {
      width: 8%;
      float: left;
      padding: 2% 0 2% 2%;

      img {
        border: 2px solid $line;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
    }

    .info {
      @extend .image;
      width: 88%;

      p {
        padding: 0;
        text-align: left;
        font-size: 1.2em;

      }

      .name {
        color: #000;
      }

      a {
        color: $anchor-hover;

        &:hover {
          color: $anchor;
        }
      }
    }
  }
}

#ranking {
  padding-bottom: 10px;
  overflow: hidden;

  h3 {
    font: 100 1.2em/1.1em 'Oswald';
  }

  [class *="-column"] {
    padding-top: 4%;

    &:last-child {
      padding-top: 0;
    }
  }

  #rank-list {
    font-size: 0.8em;

    label {
      font-family: 'Roboto';
      font-weight: 300;
      padding-left: 10px;
    }
  }
}

.cancel-new-proposal {
  position: relative;
  left: 150px;
  top: -42px;
}

.move-buttons {
  top: -88px;
  position: relative;
}


/* 2015 styles overrides */

.new_proposal {
  label {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }

  .required label {
    &:after {
      content: '*';
      color: #F00;
      padding: 0 5px;
    }
  }
}

.error {
  border: 2px solid #F00;
  color: #F00;
  display: none;
  font-size: 13px;
  overflow: visible;
  padding: 5px;
  position: relative;

  .invalid & { display: inline-block }
}


/* Arrows */
.arrow {
  &:before, &:after {
    border-color: #F00 rgba(0, 0, 0, 0);
    border-style: solid;
    content: "";
    display: block;
    position: absolute;
    width: 0;
  }

  &:before { border-color: #F00 rgba(0, 0, 0, 0) }
  &:after { border-color: #FFF rgba(0, 0, 0, 0) }
}

.bottom-arrow {
  @extend .arrow;

  &:before {
    bottom: -5px;
    left: 10px;
    border-width: 5px 5px 0;
  }

  &:after {
    bottom: -3px;
    left: 5px;
    border-width: 10px 10px 0;
  }

}

.left-arrow {
  @extend .arrow;
  margin-left: 10px;

  &:before, &:after {
    border-width: 5px 10px 5px 0;
    bottom: auto;
    top: 10px;
  }

  &:before{
    border-color: rgba(0, 0, 0, 0) red;
    left: -10px;
  }

  &:after {
    border-color: rgba(0, 0, 0, 0) #FFF;
    left: -7px;
  }
}

