GITHUB_CLIENT_ID:     xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GITHUB_CLIENT_SECRET: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

GOOGLE_CLIENT_ID:     xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GOOGLE_CLIENT_SECRET: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

CFP_ENDING_DATE:      3000-12-30
CFP_CONTACT_EMAIL:    info@example.com

DEVISE_SECRET_KEY:    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

SECRET_KEY_BASE:      xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
