.span4.offset3
  %h3.legend Sign in
  .octo-login
    = link_to image_tag('octocat_login.png', class: 'octocat_image'), '/auth/github'
    %br
    %p
      = link_to 'Sign up with Github', '/auth/github'
