* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif !important;
  background: #ebebeb;
}

a {
  color: $anchor;
  font: 100 1.3em/1.3em 'Roboto';
  text-decoration: none;

  &:hover {
    color: $anchor-hover;
    text-decoration: underline;
  }
}

a, button, input[type="submit"] {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: 100 3.5em/1.1em 'Oswald' Helvetica 'Arial';
  font-family: 'Oswald';
  text-transform: uppercase;
}

h2 { font-size: 3em; }
h3 { font-size: 2.5em; }
h4 { font-size: 2em; }
h5 { font-size: 1.5em; }
h6 { font-size: 1em; }

label {
  font: 400 18px  'Oswald', sans-serif;
  color: $coffee;
  text-transform: uppercase;
}

.fa {
  padding: 5px;
  margin-right: 5px;
  border: 1px solid $line - 50;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

ul.proposals {
  li {
    background-color: #ffffff;
    height: 65px;
    margin-bottom: 10px;
    list-style: none;

    &.reviewed {
      background-color: #fbfbfb;

      .review-btn {
        color: #989898;
      }
    }

    .rank {
      float: left;
      width: 67px !important;
      background-color: #fbfbfb;
      text-align: center;
      font-family: 'Teko', sans-serif;
      font-size: 30px;
      color: #dc484b;
      line-height: 1;
      padding: 15px 0;
      margin-right: 15px;

      .fa {
        border: 0;
        margin: 0;
      }
    }

    .tit-prop {
      display: inline-block;
      margin-top: 10px;
      vertical-align: middle;
      max-width: 495px;

      a {
        color: $coffee;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 16px;
      }

      .tags {
        color: $coffee;
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 200;
        padding-bottom: 10px;
      }
    }
    .action-btn {
      color: $carnation;
      display: inline-block;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 16px;
      padding: 25px 0;
      text-align: center;
      width: 130px;

      span {
        background: asset_url('arrows_right_red.png') 0 22px;
        background-repeat: no-repeat;
        background-position: 0px 0px;
        width: 15px;
        height: 13px;
        display: inline-block;
        margin: 3px 0 0 0;
      }

      &:hover {
        background-color: #ff6666;
        color: #ffffff;
        text-decoration: none;

        span {
          background: asset_url('arrows_right_white.png') 0 22px;
          background-position: 0px 0px;
        }
      }
    }

    .edit-btn, .review-btn {
      @extend .action-btn;
    }
  }
}

.silver {
  font-size: 10px !important;
  width: 40%;
  padding: 0 !important;
  font-weight: 300;
  position: relative;
  bottom: 1px;

  i {
    color: #d2d2d2;
    border: 0;
  }
}

.gold {
  @extend .silver;

  i {
    color: $gold;
  }
}

.no-shadow {
  text-shadow: 0 0 0;
}

.container-rate {
  overflow: hidden;
}

.group {
  padding-bottom: 0 !important;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 135px solid transparent;
  border-right: 135px solid transparent;
  border-bottom: 50px solid red;
}

.unauthorized {
  color: $white;
  text-align: center;
  margin-top: 30px;
}

table.rank-list {
  thead {
    border-bottom: 2px solid #c5c1bd;
    th {
      font-size: 15px;
    }
  }

  tbody {
    td {
      text-align: center;
      padding: 5px 10px;
      max-width: 300px;
      text-overflow: ellipsis;
      overflow: hidden;
      &:last-child {
        min-width: 50px;
      }
    }
    tr:nth-child(odd) {
      background: #f8f5ef;
    }
  }
}
