* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif !important;
  background-image: url('/assets/bkg.png');
}

a {
  color: $anchor;
  font: 100 1.3em/1.3em 'Roboto';
  text-decoration: none;

  &:hover {
    color: $anchor-hover;
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: 100 3.5em/1.1em 'Oswald' Helvetica 'Arial';
  font-family: 'Oswald';
  text-transform: uppercase;
}

h2 { font-size: 3em; }
h3 { font-size: 2.5em; }
h4 { font-size: 2em; }
h5 { font-size: 1.5em; }
h6 { font-size: 1em; }

label {
  font: 100 1.5em/1.1em 'Oswald' Helvetica 'Arial';
  text-transform: uppercase;
}
