.sign-in {
  height: 88px;
  width: 148px;
  background: $white;
  border: 1px solid #bcb1a2;
  color: #554a45;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  padding: 40px 0 20px 0;
  text-decoration: none;
  transition: background .5s;
  @include border_radius(50%);

  &:hover {
    background: #e7e4df;
    border: 1px solid #e7e4df;
    color: #554a45;
  }

  a {
    display: block;
  }

  img {
    margin-top: 25px;
  }
}

.btn-aro {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: $white;
  height: 130px;
  overflow: hidden;
  margin: auto;
  width: 130px;

  .aro {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 1px solid $anchor-hover;
    color: $anchor-hover;
    cursor: pointer;
    font: 100 1.6em/1.1em 'Roboto' Helvetica;
    height: 115px;
    margin: 7px;
    text-align: center;
    transition: .5s background, color;
    width: 115px;

    &:hover {
      background: $anchor-hover;
      color: $white;
    }
  }

  &.upper {
    top: -118px;
    position: relative;
  }
}

.btn-circle {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 1px solid $anchor-hover;
  color: $anchor-hover;
  font: 100 1.6em/1.1em 'Roboto' Helvetica;
  height: 115px;
  margin: 7px;
  text-align: center;
  transition: .5s background, color;
  width: 115px;

  &:hover {
    background: $anchor-hover;
    color: $white;
  }
}

.proposals .new-proposal {
  padding: 0;

  .btn-new-proposal {
    background-color: $carnation;
    display: inline-block;
    height: 65px;
    width: 50px;

    .plus {
      @extend .fa;
      @extend .fa-plus;
      border: none;
      color: white;
      font-size: 28px;
      margin: 18px 0 0 9px;
    }
  }

  .text {
    color: $coffee;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    overflow: hidden;
  }
}

.btn-ring {
  @extend .btn-aro;
  background: $anchor-hover;
  display: table;
  padding: 5px;

  &:hover {
    text-decoration: none;
  }

  .aro {
    @extend .btn-aro;
    color: $white;
    border: 1px solid $white;
    display: table-cell;
    vertical-align: middle;

    &:hover {
      background: $white;
      color: $anchor-hover;
    }

    span {
      &.plus { font-size: 2em }
      display: block;
      font-size: 0.6em;
      line-height: 0.9em;
      overflow: hidden;
    }
  }
}

.btn-proposal {
  @extend .btn-ring;
  background: $profile-bkg;

  .aro {
    @extend .btn-ring;
    border: 1px solid $line;
    color: $anchor;

    &:hover {
      background: $line;
      color: $white;
    }

    span {
      font-size: 0.7em;
      line-height: 1em;
      padding: 15px;

      &:nth-child(1) {
        margin-top: 0;
      }
    }
  }
}

.btn-rank {
  @extend .btn-aro;
  background: $anchor-hover;
  height: 100px;
  width: 100px;

  .aro {
    height: 85px;
    width: 85px;
    background: $anchor-hover;
    color: $white;
    border: 1px solid $white;

    &:hover {
      background: $white;
      color: $anchor-hover;
    }
  }
}

.btn-rated {
  background: $white;

  .aro {
    border: 1px solid $anchor-hover;
    background: asset-url('rated.svg') no-repeat center center;
    color: transparent;
    transition: none;
    cursor: auto;

    &:hover {
      color: transparent;
      background: asset-url('rated.svg') no-repeat center center;
    }
  }
}

.btn-comment {
  @extend .btn-aro;
  height: 110px;
  width: 110px;

  .aro {
    height: 95px;
    width: 95px;
    font-size: 1.3em;
  }
}

.btn-cancel {
  @extend .btn-aro;
  background-color: $mercury;
  border: $dusty-gray;
  color: $dusty-gray;
  width: 80px;
  height: 80px;
  margin-top: 30px;

  .aro {
    display: block;
    width: 65px;
    height: 43px;
    font-size: 1em;
    padding-top: 22px;
    color: $line;
    border: 1px solid $line;

    &:hover {
      text-decoration: none;
    }
  }
}
