// Popup
#my_modal {
  width: 800px;
  height: 500px;
  background: white;
  border: 0;
  outline: 0;

  h2 {
    color: $stratos;
    font-family: 'Oswald', sans-serif;
    font-size: 33px;
    text-align: center;
    margin-top: 40px;
  }

  #tabs {
    margin-top: 65px;
  }

  #content {
    width: 700px;
    margin: 0 auto;
  }

  p {
    color: $gray-lt;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 5%;
    strong:not(.not-so-strong) {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .btn-aro {
    position: relative;
    top: -25px;

    .aro {
      background: $white;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      font-weight: 600;

      &:hover {
        background: $anchor-hover;
      }
    }
  }

  span {
    font-weight: 500;
  }
}

.popup_background {
  z-index: 2000; /* any number */
}

.popup_wrapper {
  z-index: 2001; /* any number + 1 */
}

/* Add inline-block support for IE7 */
.popup_align,
.popup_content {
  *display: inline;
  *zoom: 1;
}

.ui-tabs-nav {
  text-align: center;
  margin: 0 auto;
  height: 38px;
  width: 700px;

  li {
    display: inline;
    padding: 8px 15px 4px 15px;
    margin: 0;
    border-bottom: solid 2px $koromiko;

    a {
      color: $koromiko;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      font-weight: 400;
      margin: 0 auto;
      padding: 0;
      text-transform: uppercase;

      &:hover {
        color: #333;
        text-decoration: none;
      }
    }
  }

  .ui-state-active {
    background: $koromiko;

    a {
      color: $stratos;
    }
  }
}

.ui-tabs-panel {
  height: 280px;
  overflow: auto;
  margin-top: 10px;
}
