// Popup
#my_modal {
  width: 38%;
  padding: 30px 50px 10px;
  background: asset-url('bkg.png');
  border: 0;
  outline: 0;

  h2 {
    text-align: center;
    padding: 0 0 30px;
  }

  p {
    text-align: center;
    font-size: 1.3em;
    font-family: 'Roboto';
    font-weight: 300;
    margin-top: 5%;
  }

  .btn-aro {
    position: relative;
    top: 40px;

    .aro {
      background: $white;

      &:hover {
        background: $anchor-hover;
      }
    }
  }

  span {
    font-weight: 500;
  }
}

.popup_background {
  z-index: 2000; /* any number */
}

.popup_wrapper {
  z-index: 2001; /* any number + 1 */
}

/* Add inline-block support for IE7 */
.popup_align,
.popup_content {
  *display: inline;
  *zoom: 1;
}

.ui-tabs-nav {
  text-align: center;

  li {
    display: inline;
    text-transform: uppercase;
    font-weight: 300;
    padding: 10px 22px;
    border-bottom: 2px solid $line;
    margin: 0;

    a {
      font-weight: 400;
      color: $line;

      &:hover {
        color: #333;
        text-decoration: none;
      }
    }
  }

  .ui-state-active {
    background: $line;

    a {
      color: #333;
    }
  }
}

.ui-tabs-panel {
  height: 280px;
  overflow: auto;
  margin-top: 10px;
}
