- content_for :header_title do
  %h3= t('profiles.profile')

.eight-columns
  = form_for @profile, url: profile_path, html: { id: 'edit_profile' } do |form|
    = render 'form', form: form

    .btn-aro
      = form.submit t('profiles.continue'), class: 'aro'

.one-column
