.eight-columns
  = form_for @profile, url:profile_path, html: { novalidate: true } do |form|
    = render 'form', form: form

    .three-columns.offset-five
      .btn-cancel
        = link_to t('profiles.cancel'), proposals_path, class: 'aro'
    .four-columns
      .btn-aro
        = form.submit t('profiles.new'), class: 'aro'

.one-colum
